body,
html {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  padding: 1rem;
}

.UserList {
  width: 30%;
  min-width: 300px;
}

.UserList-main {
  border: 1px solid black;
  height: 10rem;
}

.UserDetails {
  flex: 1;
}

.UserDetails-main {
  border: 1px solid black;
  height: 10rem;
}

.UserDetails {
  margin-left: 1rem;
}
